<div class="list-services-wrapper">
    <div class="title">
        <h1>DỊCH VỤ GIÚP VIỆC TỐT NHẤT DÀNH CHO BẠN</h1>
    </div>
    <div class="list-service">
        <section class="list-service-row">
            <div class="list-service-block">
                <mat-card class="animate__animated animate__fadeInLeft">
                    <mat-card-content>
                       <img src="../../../../assets/images/tapvu.jpg">
                    </mat-card-content>
                    <mat-card-footer>
                        <h1>Dịch Vụ Giúp Việc Gia Đình</h1>
                    </mat-card-footer>
                </mat-card>
            </div>   
            <div class="list-service-block">
                <mat-card class="animate__animated animate__fadeInDown">
                    <mat-card-content>
                       <img src="../../../../assets/images/chamsoctre.jpg">
                    </mat-card-content>
                    <mat-card-footer>
                        <h1>Dịch Vụ Chăm Bé</h1>
                    </mat-card-footer>
                </mat-card>
            </div>   
            <div class="list-service-block">
                <mat-card class="animate__animated animate__fadeInRight">
                    <mat-card-content>
                       <img src="../../../../assets/images/chamsocnguoigia.png">
                    </mat-card-content>
                    <mat-card-footer>
                        <h1>Chăm Người Già, Người Bệnh</h1>
                    </mat-card-footer>
                </mat-card>
            </div>
        </section>       
    </div>
</div>
