@import '../../../../assets/styles/base';
.introduce-wrapper {
    h1 {
        text-align: center;
        color: $primary;
    }
    margin-top: 20px;
    .introduce-detail {
        font-size: 18px;
        line-height: 1.8;
        padding-left: 5px;
        padding-right: 5px;
        p {
            text-align: justify;
        }
        h2 {
            text-align: justify;
        }
    }
}