<div class="self-introduce-wrapper">
    <div class="title">
        <h1>LÝ DO NÊN CHỌN GIÚP VIỆC UY TÍN</h1>
    </div>
    <div class="list-quanlity">
        <section class="list-quanlity-row">
            <div class="list-quanlity-block">
                <mat-card class="animate__animated animate__zoomIn">
                    <mat-card-title-group>
                        <mat-card-title>
                            <img src="../../../../assets/images/q_chuyennghiep.png">
                        </mat-card-title>
                        <p> 
                            Quy trình làm việc rõ ràng. <br> 
                            Lao động được đào tạo bài bản các nghiệp vụ.<br>
                        </p>
                    </mat-card-title-group>
                </mat-card>
            </div>   
            <div class="list-quanlity-block">
                <mat-card class="animate__animated animate__zoomIn">
                    <mat-card-title-group>
                        <mat-card-title>
                            <img src="../../../../assets/images/q_tantam.png">
                        </mat-card-title>
                        <p> 
                            Đội ngũ tư vấn luôn sẵn sàng lắng nghe. <br>
                            Tìm hiểu rõ nhu cầu của khách hàng. <br>
                            Tìm lao động phù hợp để hoàn thành tốt công việc.
                        </p>
                    </mat-card-title-group>
                </mat-card>
            </div>
        </section> 
        <section class="list-quanlity-row single">
            <div class="list-quanlity-block">
                <mat-card class="animate__animated animate__zoomIn">
                    <mat-card-title-group>
                        <mat-card-title>
                            <img src="../../../../assets/images/q_uytin.png">
                        </mat-card-title>
                        <p> 
                            Tuyển chọn kỹ lưỡng từng người lao động. <br>
                            Hỗ trợ giải quyết các vấn đề. <br>
                        </p>
                    </mat-card-title-group>
                </mat-card>
            </div>
        </section>     
    </div>
</div>
